<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->


  <targets>
    <target name="f" xsi:type="File"
      fileName="${basedir}/App_Data/${shortdate}.txt"
      layout="
====================================================================================================
${newline}
發生時間：${longdate} ${newline}${newline}
Log等級：${level:uppercase=true} ${newline}${newline}
Logger：${logger} ${newline}${newline}
Source：${callsite:className=true} ${newline}${newline}
錯誤訊息：${message} ${newline}${newline}
StackTrace：${newline}${exception:format=stacktrace}${newline}${newline}
Exception類別：${exception:format=type} ${newline}${newline}
Exception訊息：${exception:format=message} ${newline}${newline}
EXCEPTION OCCURRED：${newline}
${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}${newline}
====================================================================================================
${newline}
"
      />
  </targets>
  <rules>
    <logger name="*" writeTo="f"/>
  </rules>
</nlog>
